{% extends 'tam/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>List of Tables</h2>
<table class="table table-striped">
    <thead style="background-color: blue;color: white;">
        <td>BOOKING ID</td>
        <td>USERNAME</td>
        <td>TABLE NAME</td>
        <td>BOOKED TABLE </td>
        <td>RESERVE TABLE</td>
        <td>NUM OF SEATS</td>
        <td>DATE</td>
        <td>TIME</td>
        
    </thead>

    {% for row in book_list %}
    <tr>
        {% if table.booked %}
        <td><h3>you have already book {{book.reservt}}</h3></td>
        <td><h3>Date of booking:{{book.date}}</h3></td>
        <td><h3>Time of booking:{{book.time}}</h3></td>
        {% endif %}
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.table_name}}</td>
        <td>{{row.reservt}}</td>
        <td>{{row.bkt}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        
    </tr>
    {% empty %}
   <tr><td> <h2>You have no booking</h2></td></tr>

    {% endfor %}
</table>
<form action="{% url 'deleting' %}" method="post">
    <h3>Choose booking id to delete </h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Booking Id</label>
        <div class="col-5">
            <input name='table_id' class="form-control" type="number" id="example-email-input" required>
        </div>
    </div>

    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-danger float-left">delete booking</button>
    </div>


    

</form>

{% endblock %}