{% extends 'tam/base.html' %}
{% block content %}



<div class="container">
    <div class="row"  style="margin-top: 70px; text-align: center;">

<form action="{% url 'home' %}" method="post">

    {% csrf_token %}
    <main class="row book-container">
        <div class = >
            <h1 class="thin-text booking-subheader mt30">
            <span class = "fa fa-check">
                
            </span>
            Thanks {{user}}<strong class="black-text"> -your booking is now confirmed </strong>

            </h1>
        </div>
        <div class="font-large">
        <p>Booking Id:{{book.id}}</p>
        
        <p>Booked Table:{{book.booked_table}}</p>
        <p>Date:{{book.date}}</p>
        <p>Time:{{book.time}}</p>
        </div>
    <div class="row font-link font-medium">
        <div class="col-xs-12 col-12 mb10">
            <a href="{% url 'home'%}">Go back home page</a>
        </div>

    </div>
    <div class="row font-link font-medium">
        <div class="col-xs-12 col-12 mb10">
            <a href="{% url 'mybookings'%}" >Cancel a booking</a>
        </div>

    </div>
    <div class="row font-link font-medium">
        <div class="col-xs-12 col-12 mb10">
            <a href="{% url 'findtable'%}">New booking</a>
        </div>

    </div>

    </main>
    
</form>
</div>

{% endblock %}