{% extends 'tam/base.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>List of Tables</h2>
<table class="table table-striped">
    <thead style="background-color: lightgreen;color: black;">
        <td>BOOKING ID</td>
        <td>USERNAME</td>
        <td>TABLE NAME</td>
        <td>BOOKED TABLE </td>
        <td>DATE</td>
        <td>TIME</td>
       
    </thead>

    {% for row in book_list %}
    <tr>
       
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.table_name}}</td>
        <td>{{row.booked_table}}</td>
         <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        
    {% empty %}
   <tr><td> <h2>You have no booking</h2></td></tr>

    {% endfor %}
</table>
<form action="{% url 'deleting' %}" method="post">
    <h3>Choose booking id to delete </h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Booking Id</label>
        <div class="col-5">
            <input name="booked_table" class="form-control" type="number" id="example-email-input"  required>
        </div>
    </div>

    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-danger float-left">CANCEL BOOKING</button>
    </div>

</form>

{% endblock %}