{% extends 'tam/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px">
            <h2>Book table</h2>
            <form action="{% url 'findtable' %}" method="post">
                {% csrf_token %}
                
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Number of seats</label>
                    <div class="col-10">
                        <input name='nos' class="form-control" type="number" max="5" min="1"required>
                    </div> 
                    
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Choose Date</label>
                    <div class="col-10">
                        <input name='date' class="form-control" type="date" required>
                    
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Time</label>
                    <div class="col-10">
                        <input name='time' class="form-control" type="time" required>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success float-right">Findtable</button>
                </div>
                {{error}}

            </form>
        </div>
    </div>

</div>

{% endblock %}