{% extends 'tam/base.html' %}
{% block content %}

<h2>List of Tables</h2>
<table class="table table-striped" >
    <thead>
    <td>ID</td>
    <td>NAME</td>
    <td>BOOKED TABLE</td>
    <td>RESERVT</td>
    <td>DATE</td>
    <td>TIME</td>

    </thead>

    {% for row in table_list %}
    <tr>
        <td>{{row.id }}</td>
        <td>{{row.name}}</td>
        <td>{{row.booked_table}}</td>
        <td>{{row.reservt}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>


    </tr>
    {% endfor %}
</table>
<form action="{% url 'bookings' %}" method="post">
    <h3>Choose table id to book</h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Table ID</label>
        <div class="col-5">
            <input name='table_id' class="form-control" type="number" id="example-email-input" required>
        </div>
    </div>
    <div class="col=auto">
        <label for="example-email-input" class="col-2 col-form-label">booked_table</label>
        <div class="col-5">
            <input name='booked_table' class="form-control" type="number" max="'1" min='1' required>
        </div>
    </div>
    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-success float-left">Make a booking</button>
    </div>


    {{error}}

</form>

{% endblock %}